*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.display{
    display: flex;
    width: 100%;
}
.mission2022{
width: 50%;
 padding: 10%;


}
.mission2022 img{
    max-width: 500px;
    margin-top:-150px;
    
}
.color{
    color: brown;
}
h1{
    font-size: 70px;
}
.text-aline{
    text-align: justify;
}
.box{
    border-left: 5px solid rgb(3, 104, 96);
    
    
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(8, 248, 156), rgb(47, 209, 68));
    color: white;
    border-radius: 5px;
    padding: 8px 25px;

}
/* second part */

.My-Mission h1{
    margin-bottom: 200px;
    text-align: center;


   
}

.second-display{
    display: inline;
   
}
.container{
    display: flex;
    text-align: left;
    margin-bottom: 200px;
    width: auto;
    justify-content: center;
}

.container .M-V-G{
    background: rgb(253, 245, 213);
    margin: 20px;
    width: 400px;
    padding: 80px 40px;
    position: relative;
    border-radius: 10px;


}
.container .M-V-G h2{
    color: crimson;
    font-size: 40px;
}
.pragraph{
    margin-top: 10%;
    color: rgb(81, 81, 82);
    font-size: 20px;
    text-align: justify;
}
.illustrator img{
    width: 200px;
}


/* 3r part */

.width-hight{
    display: flex;
    width: 100%;
}

.code{
    width: 50%;
    padding: 10%;
}
.code img {
    width: 100%;

}
.link2{
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 102, 102) orange);
    color: white;
}

/* 5th section */
.cricket{
    text-align: center;
    color: tomato;
}
/* last */
.last{
    text-align: center;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(34, 2, 61);
    color: ivory;
    
}